<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/account.css') }}" type="text/css">

  {% if title %}
  <title>Blog - {{ title }}</title>
  {% else %}
  <title>Blog</title>
  {% endif %}
</head>

<body>

  <!-- Naviagtion -->
  <nav class="navbar shadow padding">
    <div class="navbar-void"></div>
    <a href="{{ url_for('main.home') }}" class="navbar-logo padding">Blog</a>
    <img id="navMenuButton" class="nav-btn" src="{{ url_for('static', filename='icons/menu.png') }}" alt="Menu button.">
  </nav>

  <!-- Menu -->
  <div id="navContainer" class="nav-container">
    <img id="navCloseButton" class="nav-close" src="{{ url_for('static', filename='icons/close.png') }}"
      alt="Close button.">
    <ul class="nav padding">
      {% if current_user.is_authenticated %}
      <li class="nav-item padding margin"><a href="{{ url_for('users.account') }}">Account</a></li>
      <li class="nav-item padding margin"><a href="{{ url_for('users.logout') }}">Logout</a></li>
      {% else %}
      <li class="nav-item padding margin"><a href="{{ url_for('users.register') }}">Sign-up</a></li>
      <li class="nav-item padding margin"><a href="{{ url_for('users.login') }}">Login</a></li>
      {% endif %}
    </ul>
  </div>

  <!-- Main Content -->
  <main>
    <!-- Display any flashed messages from routes. -->
    <section class="flash-message">
      
    </section>
    <!-- Content Block -->
    {% block content %}
    {% endblock content %}
  </main>

  <!-- Custom Scripts -->
  <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>

</html>