.comment {
    display: flex;
}

.comment-profile-pic {
    width: 32px;
    height: 32px;
}

.comment-content {
    text-indent: 1rem;
    overflow-wrap: initial;
    font-size: 1.2rem;
}

.comment-profile-pic {
    border-radius: 50%;
}