.comment {
    display: flex;
}

.comment-profile-pic {
    width: 32px;
    height: 32px;
}

.comment-content {
    text-indent: 1rem;
    overflow-wrap: initial;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment-profile-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-profile-pic {
    border-radius: 50%;
}