body {
    font-family: 'Playfair Display', serif!important;
    font-size: 1.5rem!important;
}

.padding {
    padding: .5rem;
}

.margin {
    margin: .5rem;
}

.shadow {
    -webkit-box-shadow: 0px 0px 10px 10px rgba(240,240,240,1);
    -moz-box-shadow: 0px 0px 10px 10px rgba(240,240,240,1);
    box-shadow: 0px 0px 10px 10px rgba(240,240,240,1);
}

.border-bottom {
    border-bottom: 1px solid #f0f0f0;
}

.flash-message {
    display: flex;
    flex-direction: column;
    min-height: 12rem;
    justify-content: center;
}

.btn {
    font-size: 1rem;
    font-family: 'Playfair Display', serif!important;
    background-color: #fff;
    border: 1px solid #F4A460;
    color: #F4A460;
    padding: .5rem 1rem;
}

.flash {
    border: 1px solid;
    font-size: .9rem;
    text-align: center;
    border-radius: .5rem;
    transition: .5s;
}

.flash-danger {
    border-color: #DC143C;
    background-color: #DC143C;
    color: #fff;
}

.flash-success {
    border-color: #3CB371;
    background-color: #3CB371;
    color: #FFF;
}

.flash-warning {
    border-color: #F4A460;
    background-color: #F4A460;
    color: #FFF;
}

.page-btns {
    display: flex;
    flex-direction: row;
}

.page-btn {
    font-size: 1.3rem;
    width: 1.7rem;
    height: 1.7rem;
    border: 1px solid #F4A460;
    text-align: center;
    color: #F4A460;
    border-radius: .5rem;
}

.page-btn-active {
    background-color: #F4A460;
    color: #FFF;
}