{% extends "layout.html" %}

{% block content %}
<div class="padding">
  <div class="account-profile-pic-container">
    <img class="account-profile-pic padding" src="{{ profile_pic }}" alt="Profile picture.">
  </div>
  <div class="account-username">{{ current_user.username }}</div>
  <div class="account-email">{{ current_user.email }}</div>
  <div class="form padding">
    <form method="POST" action="/account" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset class="padding">
        <legend class="form-legend border-bottom padding">Update Account</legend>
        <div class="form-fieldgroup padding">
          {{ form.username.label(class="form-field-label padding") }}
          <!-- Display any error occured during data validation. -->
          {% if form.username.errors %}
          {{ form.username(class="form-field-error padding") }}
          <div class="form-error">
            {% for error in form.username.errors %}
            <span class="form-error-message">{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.username(class="form-field padding") }}
          {% endif %}
        </div>
        <div class="form-fieldgroup padding">
          {{ form.profile_pic.label(class="form-field-label padding") }}
          {{ form.profile_pic() }}
          {% if form.profile_pic.errors %}
          {% for error in form.profile_pic.errors %}
          <span class="form-error-message">{{ error }}</span>
          {% endfor %}
          {% endif %}
        </div>
      </fieldset>
      {{ form.submit(class="form-button btn") }}
    </form>
  </div>
</div>
{% endblock content %}