{% extends "layout.html" %}

{% block content %}
<div class="container login-form">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="text-center border-bottom mb-3 pb-3">Login</legend>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {{ form.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {{ form.password(class="form-control") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
            <span><small>Dont have an account? <a href="#">Sign-up now.</a></small></span>
        </div>
    </div>
</div>
{% endblock content %}