{% extends "layout.html" %}

{% block content %}
<!-- Register Form -->
<div class="form padding">
    <form method="POST" action="/register">
        {{ form.hidden_tag() }}
        <fieldset class="padding">
            <legend class="form-legend border-bottom padding">Sign-Up</legend>
            <div class="form-fieldgroup padding">
                {{ form.username.label(class="form-field-label padding") }}
                <!-- Display any error occured during data validation. -->
                {% if form.username.errors %}
                {{ form.username(class="form-field-error padding") }}
                <div class="form-error">
                    {% for error in form.username.errors %}
                    <span class="form-error-message">{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-field padding") }}
                {% endif %}
            </div>
            <div class="form-fieldgroup padding">
                {{ form.email.label(class="form-field-label padding") }}
                <!-- Display any error occured during data validation. -->
                {% if form.email.errors %}
                {{ form.email(class="form-field-error padding") }}
                <div class="form-error">
                    {% for error in form.email.errors %}
                    <span class="form-error-message">{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-field padding") }}
                {% endif %}
            </div>
            <div class="form-fieldgroup padding">
                {{ form.password.label(class="form-field-label padding") }}
                <!-- Display any error occured during data validation. -->
                {% if form.password.errors %}
                {{ form.password(class="form-field-error padding") }}
                <div class="form-error">
                    {% for error in form.password.errors %}
                    <span class="form-error-message">{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-field padding") }}
                {% endif %}
            </div>
            <div class="form-fieldgroup padding">
                {{ form.password.label(class="form-field-label padding") }}
                <!-- Display any error occured during data validation. -->
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-field-error padding") }}
                <div class="form-error">
                    {% for error in form.confirm_password.errors %}
                    <span class="form-error-message">{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-field padding") }}
                {% endif %}
            </div>
        </fieldset>
        <div>
            {{ form.submit(class="form-button btn") }}
        </div>
        <span class="form-message padding margin">Already have an account? <a href="{{ url_for('users.login') }}">Login now.</a></span>
    </form>
</div>
{% endblock content %}